.container {
    display:grid;
    grid-template-columns: 1fr 2fr;
    position:relative;
    margin:10vw;
}

.greetings {
    position: fixed;
    top: 15vh;
    right: 10vw;
    background: var(--theme-first);
    width: 500px;
    height: 250px;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.content-2 {
    position: fixed;
    top: 30vh;
    right: 20vw;
    background: var(--theme-second);
    padding: 25px;
}